include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt
include pyproject.toml

recursive-include audio_announcement/scripts *.py *.sh
recursive-include tests *.py

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
